/* Login.css */
.login-container {
    text-align: center;
    padding: 20px;
    color: rgb(233, 255, 244);
    text-shadow: 2px 1px 0 black,  
    -2px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

body{
    background-image: url("../img/login.jfif"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .login-input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fffffe;
    border-radius: 5px;
    background-color: #8b791e;
    }

  .login-input::placeholder {
    color: rgb(255, 255, 255); 
    font-size: 16px;
}

  .login-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a4e07;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #839137;
  }
  
  .login-link {
    color: #c3f736c9;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login-link:hover {
    text-decoration: underline;
    color: #748597;
  }
  
  .message-success {
    color: green;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .message-error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }

  