/* Estilos para o container principal */
.container {
    text-align: center;
    padding: 80px;

  }
  
  /* Estilos para o cabeçalho */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  /* Estilos para o texto de perfil */
  .profile {
    font-size: 50px;
    font-weight: bold;
    text-shadow:  2px 2px black,  
    -2px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;

  }
  
  /* Estilos para a lista de menu */
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  /* Estilos para cada item do menu */
  .menu-item {
    margin-bottom: 10px;
  }
  
  /* Estilos para os botões */
  .menu-button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #4a4e07;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
  }
  
  /* Efeito hover para os botões */
  .menu-button:hover {
    background-color: #74751d;
  }